body {
  max-width: inherit !important;
}

h1 {
  font-size: 3rem !important;
}

.project-card {
  @media screen and (min-width: 400px) {
    min-width: 0;
    * {
      word-wrap: break-word;
    }
  }
}
