:root {
  --font-family: 'Inconsolata', Consolas, "Playfair Display", serif;
}

h1,
h2,
h3 {
  font-family: "Vollkorn", serif;
  font-weight: normal;
}

h1 {
  margin: 1.2rem 0;
}

p {
  margin: 0;
  font-family: var(--font-family);
  font-size: 1.05rem;
  letter-spacing: 0.04rem;
  line-height: 2.3rem;
}
